.destination .section-title {
  margin-bottom: 32px;
}

.destination-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-card .card {
  width: 312px;
  height: 754px;
}

.destination-card h3 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 0;
  padding: 24px 0 12px;
}

.destination-card p {
  font-weight: var(--text-weight);
  font-size: 20px;
  padding: 12px 0 24px 0;
}

.destination-card .button {
  width: 312px;
  height: 64px;
  border-radius: 8px;
  text-align: center;
}
