header {
  background-color: var(--backgroud-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

nav{
    display: none;
}

.navegation-menu{
 margin-top: 24px;
}

.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
}
