.footer-hero .footer-img {
  width: 100%;
  aspect-ratio: 360 / 400;
  background: url(../img/footer-img.jpg) no-repeat center;
  background-size: cover;
}

.hero .hero-img {
  width: 100%;
  aspect-ratio: 360 / 400;
  background: url(../img/hero_mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    aspect-ratio: 768 / 620;
    background: url(../img/hero_tablet.jpg) no-repeat;
    background-size: cover;
  }

  .footer-hero .footer-img {
    aspect-ratio: 768 / 400;
    background: url(../img/footer-img-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    aspect-ratio: 1440 / 620;
    background: url(../img/hero_desktop.jpg) no-repeat;
    background-size: cover;
  }

  .footer-hero .footer-img {
    aspect-ratio: 1440 / 600;
    background: url(../img/footer-img-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
