.hero {
  width: 100%;
}

.hero .footer-img {
  aspect-ratio: 360 / 400;
  background: url(../img/footer-img.jpg) no-repeat;
  background-size: cover;
}

.hero .hero-img {
  aspect-ratio: 360 / 400;
  background: url(../img/hero_mobile.jpg) no-repeat;
  background-size: cover;
}

.hero .hero-viagens {
  aspect-ratio: 360 / 400;
  background: url(../img/hero-japao.jpg) no-repeat;
  background-size: cover;
}

.hero .hero-viagens .hero-content {
  padding: 65px 24px;
}

.hero .hero-viagens .hero-content p {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
}

.hero .hero-title h1 {
  font-weight: var(--title-weight);
  font-size: 48px;
  line-height: 100%;
  color: var(--text-secondary-color);
}

.hero .hero-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px 0px;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

section.hero .hero-viagens {
  width: 100%;
  margin-bottom: 88px;
}

.travel-packages.hero .footer-img {
  aspect-ratio: 360 / 400;
  background: url(../img/travel-packages/japan-bg-bottom-hero-mobile.png)
    no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    aspect-ratio: 768 / 620;
    background: url(../img/hero_tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero .footer-img {
    aspect-ratio: 768 / 400;
    background: url(../img/footer-img-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero .hero-viagens {
    aspect-ratio: 768 / 620;
    background: url(../img/hero-japao-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero .hero-viagens .hero-content {
    padding: 210px 120px 108px 69px;
    width: 579px;
    height: 303px;
  }

  .hero .hero-viagens .hero-content p {
    font-size: 32px;
    line-height: 150%;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .travel-packages.hero .footer-img {
    aspect-ratio: 768 / 400;
    background: url(../img/travel-packages/japan-bg-bottom-hero-tablet.png)
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    aspect-ratio: 1440 / 620;
    background: url(../img/hero_desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero .footer-img {
    aspect-ratio: 1440 / 620;
    background: url(../img/footer-img-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero .hero-viagens {
    aspect-ratio: 1440 / 620;
    background: url(../img/hero-japao-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .travel-packages.hero .footer-img {
    aspect-ratio: 1440 / 620;
    background: url(../img/travel-packages/japan-bg-bottom-hero-desktop.png)
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
